{% extends 'base.html'%} 

{% block content %}
    <br>
    <h1 align="center" class="text-uppercase">{{cat}} NEWS </h3>
        <div class="container">
            <div class="card-deck">
                {% for category in categories %}

                <div class="card">
                    <img class="card-img-top" src="{{category.image}}" alt="Card image cap" style="width: 200px;height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{category.author}}</h5>
                        <p class="card-text">{{category.description}}</p>
                        <a href="{{category.url}}">
                        <p class="card-text">More details!</p>
                        </a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Publish date:{{category.time}}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
