
<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          
          <a class="navbar-brand" > News on the Go </a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/"><button type="button" class="btn btn-primary">Home </button><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{'categories/Business'}}"><button type="button" class="btn btn-primary">Business</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{'categories/Technology'}}"><button type="button" class="btn btn-primary">Technology</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{'categories/Science'}}"><button type="button" class="btn btn-primary">Science</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{'categories/Sports'}}"><button type="button" class="btn btn-primary">Sports</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{'categories/Entertainment'}}"><button type="button" class="btn btn-primary">Entertainment</button></a>
            </li>
          </ul>  

          <span class="navbar-text">
            © News Api
          </span>
      </div>

  </div>
</div>